@font-face {
  font-family: AdleryPro;
  src: url(../fonts/AdleryPro.ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Pacifico', sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Orbitron';
  font-size: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  margin:0px;
  padding:0px;
  height:100%;

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {

  font-family: "Montserrat", sans-serif;

}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
  width: 95%;
}


/* MAIN */
.main {
  position: relative;
  height: 100vh;
  background: #1a1a19;
 }

 .main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }

.bg-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  top: 0;
  /* right: 0; */
  /* bottom: 0; */
  left: 0;
  /* min-height: 100%; */
  opacity: 0.25;
  z-index: 0;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 1;
  min-width: 100%;
}

.header_logo img {
  width: 4rem;
  z-index: 1;
}

.header_logo, .header_links, .header_link-phone {
  width: calc(100%/3);
}

.header_links {
  justify-content: center;
}

.header_link-tastes, .header_link-tastes p, .header_links, .header_link-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #4d4cea;
  column-gap: 1rem;
  cursor: pointer;
  z-index: 1;
}

.header_link-tastes, .header_link-phone {
  column-gap: 0.7rem;
}

.header_link-tastes p {
  letter-spacing: 0.3em;
}
.header_link-phone {
  font-family: 'Pacifico', sans-serif;
  justify-content: flex-end;
}

.header_link-tastes:hover i svg path {
  stroke: #7675e4;
  transition: ease-in-out .3s;
}

.header_link-tastes:hover i svg path:last-child {
  fill: #7675e4;
  transition: ease-in-out .3s;
}

.header_link-tastes:hover p {
  color: #7675e4;
  transition: ease-in-out .3s;
}

.header_links a:hover i svg path {
  fill: #7675e4;
  transition: ease-in-out .3s;
}

.header_link-facebook:hover svg path {
  fill: none;
  stroke: #7675e4;
  transition: ease-in-out .3s;
}

.header_link-facebook:hover i svg {
  fill: none;
}
 
.header_link-phone:hover svg path {
  fill: #7675e4;
  transition: ease-in-out .3s;
}

.header_link-phone:hover {
  color: #7675e4;
  transition: ease-in-out .3s;
}
  
.main_title {
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #4d4cea;
  text-align: center;
  letter-spacing: 0.3rem;
  margin: 3rem 0;
  z-index: 1;
}

.order_btn {
  z-index: 1;
  display: inline-flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around; 
  padding: 0.9em 0.5em 0.5em 0.5em;
  background-color: inherit;
  width: fit-content;
  margin-bottom: 2em;
  border-radius: 0.7em;
  /* outline: #A66011 solid 0.1em; */
  color: #A66011;
  box-shadow: #1a1a19 5px 5px 5px;
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.3em;
  background-image: url(../img/ButtonNoise.png);
  backdrop-filter: blur(2px);
  background-color:rgba(255, 159, 52, .05);
  transition: ease-out .5s;
  position: relative;
}

.order_btn:before {
  content: "";
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  left: 0.2em;
  border-top: #A66011 solid 0.07em;
  border-bottom: #A66011 solid 0.07em;
  border-radius: 0.7rem;
  transition: ease-out .5s;
  transform: scaleX(0);
}

.order_btn:after {
  content: "";
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  left: 0.2em;
  border-right: #A66011 solid 0.07em;
  border-left: #A66011 solid 0.07em;
  border-radius: 0.7rem;
  transition: ease-out .5s;
  transform: scaleY(0);
  font-size: 1.1rem;
}

.order_btn:hover::before, .order_btn:hover::after {
  transform: scaleX(1);
  transition: ease-out .5s;
}

.order_btn:hover {
  backdrop-filter: blur(1px);
  box-shadow: #1a1a19 1px 1px 1px;
  transition: ease-out .5s;
}

 /* MAIN */

 .tastes_block {
  background-color: #7675e4;
  padding: 3rem 0;
  background: linear-gradient(180deg, rgba(118, 117, 228, 0.2) -15%, rgba(118, 117, 228,1.2) 75%);
 }

 .tastes_title {
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #4d4cea;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
  z-index: 1;
 }

 .cards_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 7rem;
 }

 .card {
  position: relative;
  height: 270px;
  width: 200px;
  /* border: #DC1F70 solid 3px; */
  padding: 0.5rem;
  border-radius: 1rem;
  background: radial-gradient(circle at 50% 0%, #00BCD4 65%, #FFFFff 65%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
  transition: all ease-in-out .7s;
  position: relative;
  box-shadow: #1a1a19 5px 5px 5px;
 
 }

 .card-title {
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #C800B4;
  padding-top: 1rem;
 }

 .card_img {
  width: 100%;
  transition: all ease-in-out .7s;
  padding-bottom: 1em;
 }

 .card-desc {
  opacity: 0;
  transition: all ease-in-out .7s;
  /* color: #7675e4; */
  color: #A66011;
  padding: 0.7rem;
  bottom: 3em;
  font-size: 0.7rem;
  line-height: 1.5em;
  text-align: justify;
  z-index: 2;
  position: absolute;
  /* overflow: hidden; */
 }

 .card::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.2) -15%, rgba(0,0,0,1.2) 75%);
  width: 100%;
  height: 100%;
  transition: all ease-in-out .7s;
  display: none;
  border-radius: 1em;
 }

 .card:hover {
  transform: scale(.95);
  box-shadow: #1a1a19 2px 2px 5px;
 }

 .card:hover .card_img {
 transform: scale(1.25);
 transition: all ease-in-out .7s;
 }

 .card:hover .card-desc {
  position: absolute;
  bottom: 0;
  opacity: 1;
  bottom: 1em
 }

 .card:hover::after {
  transition: all ease-in-out .7s;
  display: block;
 }

 .layer1-top_left {
  position: absolute;
  width: 4em;
  left: -2.5em;
  top: -1.5em;
  z-index: 3;
  transition: all ease-in-out .7s;
 }

 .card:hover .layer1-top_left {
  left: -2em;
  transition: all ease-in-out .7s;
 }

 .layer1-top_right {
  position: absolute;
  width: 4em;
  right: -1em;
  top: -1.5em;
  z-index: 3;
  transition: all ease-in-out .7s;
 }

 .card:hover .layer1-top_right {
  right: -1.5em;
  transition: all ease-in-out .7s;
 }

 .layer1-bottom_right {
  position: absolute;
  width: 7em;
  right: -1em;
  bottom: -1.5em;
  z-index: 3;
  opacity: .9;
  transition: all ease-in-out .7s;
 }

 .card:hover .layer1-bottom_right {
  right: -2em;
  transition: all ease-in-out .7s;
 }

 .layer1-bottom_left {
  position: absolute;
  width: 4em;
  left: -2.5em;
 bottom: -1.5em;
  z-index: 3;
  transition: all ease-in-out .7s;
 }

 .card:hover .layer1-bottom_left {
  left: -2em;
  transition: all ease-in-out .7s;
 }

 /* Layer 2 */

 .layer2-top_left {
  position: absolute;
  width: 4em;
  left: -0.5em;
  top: -2em;
  z-index: 1;
  opacity: .7;
  transition: all ease-in-out .7s;
 }

 .card:hover .layer2-top_left {
  left: -1.5em;
  transition: all ease-in-out .7s;
 }

 .layer2-top_right {
  position: absolute;
  width: 4em;
  right: -2em;
  top: -2.5em;
  z-index: 1;
  opacity: .7;
  transition: all ease-in-out .7s;
 }

 .card:hover .layer2-top_right {
  right: -1em;
  transition: all ease-in-out .7s;
 }

 .layer2-bottom_right {
  position: absolute;
  width: 4em;
  right: -2em;
  bottom: -2.5em;
  z-index: 1;
  opacity: .7;
  transition: all ease-in-out .7s;
 }

 .card:hover .layer2-bottom_right {
  right: -1.5em;
  transition: all ease-in-out .7s;
 }

 .layer2-bottom_left {
  position: absolute;
  width: 8em;
  left: -2.5em;
  bottom: -3.5em;
  z-index: 1;
  opacity: .7;
  transition: all ease-in-out .7s;
  transform: rotate(172deg);
 }

 .card:hover .layer2-bottom_left {
  left: -3.5em;
  transition: all ease-in-out .7s;
  transform: rotate(160deg);
 }


 /* CARD 2 */
 .card_2 {
  background: radial-gradient(circle at 50% 0%, #ECA0B1 65%, #FFFFff 65%);
 }

 .card:hover:nth-child(2) .layer1-top_right {
  right: -4.5em;
 }

 .card_2 .card-title {
  color: #CF0018;
 }

.card_2 .layer1-top_left {
  width: 5.5em;
  left: -3.5em
}

.card_2 .layer1-top_right {
  width: 5em;
  right: -2.6em;
}

.card_2:hover.layer1-top_right {
  right: -1.5em;
}

.card_2 .layer1-bottom_left {
 bottom: -0.5em;
}

.card_2 .layer2-top_left {
  width: 8em;
  top: -3em;
}

.card_2 .layer2-bottom_right {
  width: 6em;
  right: -3em;
  bottom: -3em
}

.card_2 .layer2-bottom_left {
  bottom: -3em
}

/* CARD 3 */
.card_3 {
  background: radial-gradient(circle at 50% 0%, #D49986 65%, #FFFFff 65%);
 }

 .card_3 .card-title {
  font-size: 1.3em;
  /* color: #BB5128; */
  color: #2e1b01;
 }

.card_3 .layer1-top_left {
  width: 5em;
  top: -2.3em;
}

.card_3:hover .layer1-top_left {

  left: 0em;
}

.card_3 .layer2-top_left {
  width: 3.4em;
  left: 2em;
  transform: rotate(15deg);
  top: -1.8em;
}
.card_3:hover .layer2-top_left {
  left: -3em;
}

.card_3 .layer2-bottom_right {
  width: 3.5em;
  bottom: -2em;
}

.card_3 .layer2-bottom_left {
  width: 6em;
  transform: rotate(0deg);
  bottom: -2em;
  left: 2em;
}

.card_3:hover .layer2-bottom_left {
  transform: rotate(0deg);
  left: -1em
}

.card:nth-child(3):hover .layer1-bottom_left {
  transform: rotate(0);
}




