@font-face {
  font-family: AdleryPro;
  src: url(../fonts/AdleryPro.ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Pacifico', sans-serif
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Orbitron';
  font-size: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  margin:0px;
  padding:0px;
  height:100%;

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #1a1a19;
  font-family: "Montserrat", sans-serif;

}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
  width: 95%;
}


/* MAIN */
.main {
  position: relative;
  height: 80vh;
 }

.bg-video {
position: absolute;
min-width: 100%;
width: 100%;
top: 0;
right: 0;
/* bottom: 0; */
left: 0;
min-height: 100%;
opacity: 0.15;
/* z-index: 0; */
visibility: inherit;
}
  
.main_title {
font-family: 'AdleryPro', sans-serif;
font-weight: 600;
font-size: 2rem;
color: #DC1F70;
text-align: center;
letter-spacing: 0.3rem;
margin: 3rem 0;
z-index: 1;
position: relative;
}


/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 1;
}

.header_logo img {
  width: 4rem;
  z-index: 1;
}

.header_link-tastes, .header_link-tastes p, .header_links, .header_link-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #DC1F70;
  column-gap: 2rem;
  cursor: pointer;
  z-index: 1;
}

.header_link-tastes, .header_link-phone {
  column-gap: 0.7rem;
}

.header_link-tastes p {
  letter-spacing: 0.3em;
}
.header_link-phone {
  font-family: 'Pacifico', sans-serif;
  /* font-size: 1.2em; */
}

.header_link-tastes:hover i svg path {
  stroke: #B96969;
  transition: ease-in-out .3s;
}

.header_link-tastes:hover i svg path:last-child {
  fill: #B96969;
  transition: ease-in-out .3s;
}

.header_link-tastes:hover p {
  color: #B96969;
  transition: ease-in-out .3s;
}

.header_links a:hover i svg path {
  fill: #B96969;
  transition: ease-in-out .3s;
}

.header_link-facebook:hover svg path {
  fill: none;
  stroke: #B96969;
  transition: ease-in-out .3s;
}

.header_link-facebook:hover i svg {
  fill: none;
}
 
.header_link-phone:hover svg path {
  fill: #B96969;
  transition: ease-in-out .3s;
}

.header_link-phone:hover {
  color: #B96969;
  transition: ease-in-out .3s;
}

.order_btn {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around; 
  padding: 1em;
  background-color: #C800B4;
  width: fit-content;
  position: sticky;
  bottom: 2em;
  left: calc(80%/2);
  margin: 0 auto;
  border-radius:2em;
}

 /* MAIN */



 .main_card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
 }

 .main_card {
  height: 270px;
  width: 200px;
  border: #DC1F70 solid 3px;
  padding: 0.5rem;
  border-radius: 1rem;
  background: radial-gradient(circle at 50% 0%, #00BCD4 65%, #FFFFff 65%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 }

 .main_card-title {
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #C800B4;
  padding-top: 2rem;
 }

 .main_card img {
  width: 100%;
  opacity: 1;
 }

 .main_card-desc {
  display: none;
  transition: ease-in-out .7s;
 }

 .main_card:hover img {
  display: none;
  transition: ease-in-out .7s;
 }

 .main_card:hover .main_card-desc {
  display: block;
  transition: ease-in-out .7s;
 }



