@font-face {
  font-family: AdleryPro;
  src: url(../fonts/AdleryPro.ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Pacifico', sans-serif
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Orbitron';
  font-size: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  margin:0px;
  padding:0px;
  height:100%;

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #1a1a19;
  font-family: "Montserrat", sans-serif;
  position: relative;
  /* max-width: 1440px; */
  position: relative;
  /* overflow: hidden; */
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  /* background:
      linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
	/* background-position: top center;
	background-repeat: repeat; */
  background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 5s infinite linear; 
  background-size: 300%; 

  background-attachment: fixed;
}

/* .gradient {
  height: 300px; // Тут высота блока
  width: 100%; // Тут длина
  background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 10s infinite linear; // 10s - скорость анимации
  background-size: 400%; // Можно менять и подбирать интенсивность
} */

@keyframes gradient {
  0% {
      background-position: 80% 0%;
  }
  50% {
      background-position: 20% 100%;
  }
  100% {
      background-position: 80% 0%;
  }
}

/* .wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
  animation: show;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  /* min-height: 100%; */
  width: 95%;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header_logo img {
  width: 5rem;
}

.header_link-tastes, .header_link-tastes p, .header_links, .header_link-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #DC1F70;
  column-gap: 2rem;
}

.header_link-tastes, .header_link-phone {
  column-gap: 0.7rem;
}

.header_link-tastes p {
  letter-spacing: 0.3em;
}
.header_link-phone {
  font-family: 'Pacifico', sans-serif;
  /* font-size: 1.2em; */
}

.header_link-tastes:hover i svg path {
  stroke: #B96969;
  transition: ease-in-out .3s;
}

.header_link-tastes:hover i svg path:last-child {
  fill: #B96969;
  transition: ease-in-out .3s;
}

.header_link-tastes:hover p {
  color: #B96969;
  transition: ease-in-out .3s;
}

.header_links a:hover i svg path {
 fill: #B96969;
 transition: ease-in-out .3s;
}

.header_link-facebook:hover svg path {
  fill: none;
  stroke: #B96969;
  transition: ease-in-out .3s;
 }

 .header_link-facebook:hover i svg {
  fill: none;
 }
 
 .header_link-phone:hover svg path {
  fill: #B96969;
  transition: ease-in-out .3s;
 }

 .header_link-phone:hover {
  color: #B96969;
  transition: ease-in-out .3s;
 }

 /* MAIN */

 .main {
  
 }

 .main_title {
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #DC1F70;
  text-align: center;
  letter-spacing: 0.3rem;
  margin: 3rem 0;
 }

 .main_card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
 }

 .main_card {
  height: 270px;
  width: 200px;
  border: #DC1F70 solid 3px;
  padding: 0.5rem;
  border-radius: 1rem;
  background: radial-gradient(circle at 50% 0%, #00BCD4 65%, #FFFFff 65%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 }

 .main_card-title {
  font-family: 'AdleryPro', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #C800B4;
  padding-top: 2rem;
 }

 .main_card img {
  width: 100%;
  opacity: 1;
 }

 .main_card-desc {
  display: none;
  transition: ease-in-out .7s;
 }

 .main_card:hover img {
  display: none;
  transition: ease-in-out .7s;
 }

 .main_card:hover .main_card-desc {
  display: block;
  transition: ease-in-out .7s;
 }



